<div class="col-sm-4">
  <%= link_to new_ticket_path(book), title: new_ticket_label(book), class: 'btn btn-default btn-block btn-lg' do %>
    <span class="glyphicon glyphicon-file"></span>
    <%= book %>
    <span class="small text-muted">
      <%= book.next_available_number %>
    </span>
  <% end %>
  <%= link_to polymorphic_path([book, book.kind_class]), class: 'btn btn-default btn-block btn-sm' do %>
    <div class="text-muted">
      <span class="glyphicon glyphicon-list"></span>
      <%= t 'navigation.index' %>
    </div>
  <% end %>
</div>
