<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to organization, organization %></h3>
    </div>

    <div class="panel-body">
      <% if organization.books.empty? %>
        <p><%= t '.empty_books_html' %></p>
      <% else %>
        <% organization.books.each_slice(3) do |books| %>
          <div class="row">
            <%= render partial: 'book', collection: books %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer clearfix">
      <%= link_to new_organization_book_path(organization), class: 'btn btn-sm btn-default pull-right' do %>
        <span class="glyphicon glyphicon-book"></span>
        <%= t 'organizations.new.book' %>
      <% end %>
    </div>
  </div>
</div>
