<ul class="nav nav-tabs">
  <%= voucher_option_for 'receipt' %>
  <%= voucher_option_for 'invoice' %>
</ul>

<br />

<%= render 'shared/date_filter_form', url: reports_commodities_path(voucher: params[:voucher]) %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Commodity.model_name.human count: 1 %></th>
      <th class="text-right"><%= ReceiptCommodity.human_attribute_name 'quantity' %></th>
    </tr>
  </thead>
  <tbody>
    <% @commodities_sales.each do |commodity_name, quantity| %>
      <tr>
        <td><%= commodity_name %></td>
        <td class="text-right"><%= '%.2f' % quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
