<%= simple_form_for shallow_args(@book, @invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Invoice.human_attribute_name 'customer' %>
          <small><%= add_customer_link %></small>
        </h3>
      </div>
      <div class="panel-body">
        <%= f.input :customer, as: :autocomplete, label: false, url: customers_path, input_html: { autofocus: true } %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Item.model_name.human count: 0 %></h3>
      </div>
      <div id="invoice_items" class="panel-body">
        <%= f.simple_fields_for :invoice_items, invoice_items do |rif| %>
          <%= render 'invoice_items/invoice_item', f: rif %>
        <% end %>

        <%= link_to_add_fields t('invoices.new.item'), f, :invoice_items %>
      </div>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
