<% if @invoices.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Invoice.human_attribute_name 'number' %></th>
        <th><%= Invoice.human_attribute_name 'customer' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.number %></td>
          <td><%= invoice.customer %></td>
          <td><%= link_to_show [@organization, invoice] %></td>
          <td><%= link_to_edit edit_organization_invoice_path(@organization, invoice) %></td>
          <td><%= link_to_destroy [@organization, invoice] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_organization_invoice_path(@organization), class: 'btn btn-primary' %>
