<%= render 'header' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= Invoice.human_attribute_name 'customer' %></h3>
  </div>
  <div class="panel-body">
    <%= render @invoice.customer_entity %>
  </div>
</div>

<% unless @invoice.invoice_commodities.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Commodity.model_name.human count: 0 %></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= InvoiceCommodity.human_attribute_name 'commodity' %></th>
            <th><%= InvoiceCommodity.human_attribute_name 'quantity' %></th>
            <th><%= InvoiceCommodity.human_attribute_name 'price' %></th>
          </tr>
        </thead>
        <tbody>
          <% @invoice.invoice_commodities.each do |invoice_commodity| %>
            <tr>
              <td><%= invoice_commodity.commodity %></td>
              <td><%= invoice_commodity.quantity %></td>
              <td><%= number_to_currency invoice_commodity.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @invoice] %> |
<%= link_to_index book_invoices_path(@book, customer_id: params[:customer_id]) %>
