<h2><%= @invoice %></h2>

<p>
  <strong><%= Invoice.human_attribute_name 'customer' %></strong>:
  <%= @invoice.customer %>
</p>

<%= link_to_edit edit_invoice_path(@invoice) %> |
<%= link_to_index book_invoices_path(@book) %>
