
<table class="table table-condensed small">
  <caption class="text-left">
    <h4><%= entity %> <small><%= mail_to entity.email if entity.email %></small></h4>
  </caption>
  <tbody class="text-muted">
    <tr>
      <td>
        <strong><%= Entity.human_attribute_name 'tax_id' %></strong>:
        <%= entity.tax_id %>
      </td>
      <td>
        <strong><%= Entity.human_attribute_name 'address' %></strong>:
        <%= entity.address %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t "entities.conditions.#{entity.tax_condition}" %>
      </td>
      <td>
        <strong><%= Entity.human_attribute_name 'city' %></strong>:
        <%= entity.city %>
      </td>
    </tr>
  </tbody>
</table>
