<address>
  <strong><%= entity %></strong> <%= mail_to entity.email, nil, class: 'small' if entity.email %><br />

  <div class="small">
    <% if entity.tax_id.present? %>
      <%= entity.tax_id %>
      <span class="text-muted"> / </span>
    <% end %>
    <span class="text-muted"><%= t "entities.conditions.#{entity.tax_condition}" %></span>
    <br />

    <%= entity.address %>
    <span class="text-muted"> / <%= entity.city %></span>

    <% if entity.phones.any? %>
      <% entity.phones.each do |phone| %>
        <br />
        <span class="text-muted"><%= Phone.human_attribute_name 'phone' %> / </span>
        <%= phone %>
      <% end %>
    <% end %>
  </div>
</address>
