<h4><%= entity %></h4>

<table class="table table-condensed table-bordered small text-muted">
  <tbody>
    <tr>
      <td>
        <strong><%= Entity.human_attribute_name 'tax_id' %></strong>:
        <%= entity.tax_id %>
      </td>
      <td>
        <strong><%= Entity.human_attribute_name 'address' %></strong>:
        <%= entity.address %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t "entities.conditions.#{entity.tax_condition}" %>
      </td>
      <td>
        <strong><%= Entity.human_attribute_name 'city' %></strong>:
        <%= entity.city %>
      </td>
    </tr>
  </tbody>
</table>
