<h2><%= entity %></h2>

<p>
  <strong><%= Entity.human_attribute_name 'tax_id' %></strong>:
  <%= entity.tax_id %>
</p>
<p>
  <strong><%= Entity.human_attribute_name 'tax_situation' %></strong>:
  <%= entity.tax_situation %>
</p>
<p>
  <strong><%= Entity.human_attribute_name 'address' %></strong>:
  <%= entity.address %>
</p>
<p>
  <strong><%= Entity.human_attribute_name 'city' %></strong>:
  <%= entity.city %>
</p>
