<%= f.simple_fields_for :entity do |ef| %>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :name, input_html: { autofocus: true } %>
    </div>
    <div class="col-md-6">
      <%= ef.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :tax_id %>
    </div>
    <div class="col-md-6">
      <%= ef.input :tax_condition, collection: tax_conditions, prompt: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= ef.input :address, as: :string %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= city_select ef %>
    </div>
    <%= ef.simple_fields_for :phones, entity_phones(ef.object) do |pf| %>
      <div class="col-md-6">
        <%= pf.input :phone %>
      </div>
    <% end %>
  </div>
<% end %>
