<%= f.simple_fields_for :entity do |ef| %>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :name, input_html: { autofocus: true } %>
    </div>
    <div class="col-md-6">
      <%= ef.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :tax_id %>
    </div>
    <div class="col-md-6">
      <%= ef.input :tax_condition, collection: tax_conditions, prompt: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :address, as: :string %>
    </div>
    <div class="col-md-6">
      <%= city_select ef %>
    </div>
  </div>
<% end %>
