<%= f.simple_fields_for :entity do |ef| %>
  <%= ef.input :name, input_html: { autofocus: true } %>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :tax_id %>
    </div>
    <div class="col-md-6">
      <%= ef.input :tax_condition, collection: tax_conditions, prompt: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= ef.input :address, as: :string %>
    </div>
    <div class="col-md-6">
      <%= ef.association :city, label: city_label, collection: states, as: :grouped_select, group_method: :cities, prompt: true %>
    </div>
  </div>
<% end %>
