<%= include_graphs_js %>

<%= render 'shared/date_filter_form', url: reports_feedbacks_path %>

<div class="row">
  <div class="col-md-6">
    <table class="table" data-graph-grid>
      <thead>
        <tr>
          <th><%= Feedback.human_attribute_name 'score' %></th>
          <th><%= t '.count' %></th>
        </tr>
      </thead>

      <tbody>
        <% feedback_scores.each do |score| %>
          <tr>
            <td data-label-column><%= feedback_score score %></td>
            <td data-value-column><%= @feedback_stats[score] || 0 %></td>
          </tr>
        <% end %>

        <tr class="text-muted">
          <td><strong><%= t '.total' %></strong></td>
          <td><strong><%= @feedback_stats.values.sum %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div data-graph-container></div>
  </div>
</div>

