<fieldset class="row bound">
  <%= f.input :id, as: :hidden %>
  <div class="col-md-6">
    <%= f.input :user, as: :autocomplete, label: false, url: users_path, input_html: {
      data: { empty_result_label: t('.empty') }
    } %>
  </div>
  <div class="col-md-3">
    <%= f.input :notes, as: :slim %>
  </div>
  <div class="col-md-3">
    <%= f.input :duration, as: :slim %>
    <div class="row-controls">
      <%= link_to_uses f %>
      <%= link_to_remove_nested_item f %>
    </div>
  </div>

  <div class="nested collapse" id="uses-<%= f.object.object_id %>">
    <%= f.simple_fields_for :uses, bound_uses(f) do |bf| %>
      <%= render 'uses/use', f: bf %>
    <% end %>

    <%= link_to_add_fields t('bounds.new.use'), f, :uses %>
  </div>
</fieldset>
