<h1><%= @user %></h1>

<p>
  <%= mail_to @user.email %>
</p>

<% unless @user.accounts.empty? %>
  <h3><%= Account.model_name.human count: @user.accounts.count %></h3>

  <ul>
    <% @user.accounts.each do |account| %>
      <li><%= account %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to_edit edit_user_path(@user) %> |
<%= link_to_index users_path %>
