<%= simple_form_for @purchase.new_record? ? [@book, @purchase] : @purchase do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Purchase.human_attribute_name 'provider' %>
          <small><%= add_provider_link %></small>
        </h3>
      </div>
      <div class="panel-body">
        <%= f.input :provider, as: :autocomplete, label: false, url: providers_path, input_html: { autofocus: true } %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Item.model_name.human count: 0 %></h3>
      </div>
      <div id="purchase_items" class="panel-body">
        <%= f.simple_fields_for :purchase_items, purchase_items do |rif| %>
          <%= render 'purchase_items/purchase_item', f: rif %>
        <% end %>

        <%= link_to_add_fields t('purchases.new.item'), f, :purchase_items %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :requested_at, as: :date_picker, label_html: { class: 'small text-muted' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :delivered_at, as: :date_picker, label_html: { class: 'small text-muted' } %>
          </div>
        </div>
      </div>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
