<%= render 'header' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= Purchase.human_attribute_name 'provider' %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <%= render @purchase.provider_entity %>
      </div>
      <div class="col-md-5 col-md-offset-2 text-right">
        <p>
          <strong><%= Purchase.human_attribute_name 'requested_at' %></strong>:
          <%= l @purchase.requested_at %>
        </p>
        <% if @purchase.delivered_at %>
          <p>
            <strong><%= Purchase.human_attribute_name 'delivered_at' %></strong>:
            <%= l @purchase.delivered_at %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless @purchase.purchase_commodities.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Commodity.model_name.human count: 0 %></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= PurchaseCommodity.human_attribute_name 'commodity' %></th>
            <th><%= PurchaseCommodity.human_attribute_name 'unit' %></th>
            <th><%= PurchaseCommodity.human_attribute_name 'quantity' %></th>
            <th><%= PurchaseCommodity.human_attribute_name 'price' %></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase.purchase_commodities.each do |purchase_commodity| %>
            <tr>
              <td><%= purchase_commodity.commodity %></td>
              <td><%= purchase_commodity.unit %></td>
              <td><%= purchase_commodity.quantity %></td>
              <td><%= number_to_currency purchase_commodity.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @purchase] %> |
<%= link_to_index book_purchases_path(@book) %>
