<%= render 'header' %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-5">
      <%= render @purchase.provider_entity %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <br />
      <p>
        <strong><%= Purchase.human_attribute_name 'requested_at' %></strong>:
        <%= l @purchase.requested_at %>
      </p>
      <p>
        <strong><%= Purchase.human_attribute_name 'delivered_at' %></strong>:
        <%= l @purchase.delivered_at if @purchase.delivered_at %>
      </p>
    </div>
  </div>
</div>

<% unless @purchase.purchase_items.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Item.model_name.human count: 0 %></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= PurchaseItem.human_attribute_name 'item' %></th>
            <th><%= PurchaseItem.human_attribute_name 'unit' %></th>
            <th><%= PurchaseItem.human_attribute_name 'quantity' %></th>
            <th><%= PurchaseItem.human_attribute_name 'price' %></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase.purchase_items.each do |purchase_item| %>
            <tr>
              <td><%= purchase_item.item %></td>
              <td><%= purchase_item.unit %></td>
              <td><%= purchase_item.quantity %></td>
              <td><%= number_to_currency purchase_item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @purchase] %> |
<%= link_to_index book_purchases_path(@book) %>
