<%= form_tag url, method: :get do %>
  <div class="row">
    <div class="col-md-1">
      <%= label_tag :start, t('date_filter.start') %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag :start, l(@start.to_date), autocomplete: 'off', class: 'form-control', data: { date_picker: true } %>
      </div>
    </div>
    <div class="col-md-1">
      <%= label_tag :finish, t('date_filter.finish') %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag :finish, l(@finish.to_date), autocomplete: 'off', class: 'form-control', data: { date_picker: true } %>
      </div>
    </div>
    <div class="col-md-2">
      <%= submit_tag t('date_filter.submit'), class: 'btn btn-default btn-block' %>
    </div>
  </div>
<% end %>
