<%= simple_form_for @customer, data: remote_if_xhr do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'entities/form', f: f %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :birth, as: :date_picker, input_html: { data: customer_date_picker_options } %>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
