<% if @customers.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Entity.human_attribute_name 'tax_id' %></th>
        <th><%= Entity.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.tax_id %></td>
          <td><%= customer.name %></td>
          <td><%= link_to_show customer %></td>
          <td><%= link_to_edit edit_customer_path(customer) %></td>
          <td><%= link_to_destroy customer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_customer_path, class: 'btn btn-primary' %>
