<h2><%= @customer %></h2>

<p>
  <strong><%= Customer.human_attribute_name 'tax_id' %></strong>:
  <%= @customer.tax_id %>
</p>
<p>
  <strong><%= Customer.human_attribute_name 'address' %></strong>:
  <%= @customer.address %>
</p>
<p>
  <strong><%= Customer.human_attribute_name 'city' %></strong>:
  <%= @customer.city %>
</p>

<%= link_to_edit edit_customer_path(@customer) %> |
<%= link_to_index customers_path %>
