<%= simple_form_for shallow_args(@organization, @book), data: remote_if_xhr do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :kind, collection: kinds, prompt: true, input_html: { autofocus: true } %>
    <%= f.input :last_used_number %>
    <%= f.input :flow, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
