<fieldset class="row invoice_item">
  <%= f.input :id, as: :hidden %>
  <div class="col-md-9">
    <%= f.input :item, as: :autocomplete, label: false, url: items_path, input_html: { data: { autocomplete_update_after: true } } %>
  </div>
  <div class="col-md-1">
    <%= f.input :quantity, as: :slim %>
  </div>
  <div class="col-md-2">
    <%= f.input :price, as: :slim %>
    <div class="row-controls">
      <%= link_to_remove_nested_item f %>
    </div>
  </div>
</fieldset>
