<% if @feedbacks.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Feedback.human_attribute_name 'customer' %></th>
        <th><%= Feedback.human_attribute_name 'score' %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.customer %></td>
          <td><%= feedback.score %></td>
          <td><%= link_to_show feedback %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
