<h2><%= @feedback %></h2>

<p>
  <strong><%= Feedback.human_attribute_name 'score' %></strong>:
  <%= @feedback.score %>
</p>
<p>
  <strong><%= Feedback.human_attribute_name 'notes' %></strong>:
  <%= @feedback.notes %>
</p>
<p>
  <strong><%= Feedback.human_attribute_name 'customer' %></strong>:
  <%= @feedback.owner %>
</p>

<%= link_to_edit [:edit, @feedback] %> |
<%= link_to_index feedbacks_path %>
