<h1>
  <%= @feedback.customer %>
  <small><%= feedback_score @feedback.score %></small>
</h1>

<% if @feedback.notes.present? %>
  <blockquote>
    <%= simple_format @feedback.notes %>
  </blockquote>
<% else %>
    <div class="alert alert-warning"><%= t '.empty_notes' %></div>
<% end %>

<%= link_to_index feedbacks_path_with_params(score: @feedback.score) %>
