<fieldset class="receipt_commodity">
  <div class="row" data-chargeable-row>
    <%= f.input :id, as: :hidden %>
    <div class="col-md-9">
      <%= f.input :commodity, as: :autocomplete, label: false, url: commodities_path, input_html: {
        data: { empty_result_label: t('.empty') }
      } %>
    </div>
    <div class="col-md-1">
      <%= f.input :quantity, as: :slim, input_html: {
        autocomplete: 'off', data: { chargeable_changer: true, chargeable_multiplier: true }
      } %>
    </div>
    <div class="col-md-2">
      <%= f.input :price, as: :slim, input_html: {
        readonly: true, data: { chargeable_changer: true, chargeable_price: true }
      } %>
      <div class="row-controls">
        <%= link_to_bounds f %>
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>

  <div class="nested collapse" id="bounds-<%= f.object.object_id %>">
    <%= f.simple_fields_for :bounds do |bf| %>
      <%= render 'bounds/bound', f: bf %>
    <% end %>

    <%= link_to_add_fields t('receipt_commodities.new.bound'), f, :bounds %>
  </div>
</fieldset>
