<%= simple_form_for(@receipt.new_record? ? [@book, @receipt] : @receipt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Receipt.human_attribute_name 'customer' %></h3>
      </div>
      <div class="panel-body">
        <%= f.input :customer, as: :autocomplete, label: false, url: customers_path, input_html: { autofocus: true } %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Item.model_name.human count: 0 %></h3>
      </div>
      <div id="receipt_items" class="panel-body">
        <%= f.simple_fields_for :receipt_items, receipt_items do |rif| %>
          <%= render 'receipt_items/receipt_item', f: rif %>
        <% end %>

        <%= link_to_add_fields t('receipts.new.item'), f, :receipt_items %>
      </div>
    </div>
  </div>

  <%= f.input :lock_version, as: :hidden %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
