<%= simple_form_for shallow_args(@book, @receipt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Receipt.human_attribute_name 'customer' %>
              <small><%= add_customer_link %></small>
            </h3>
          </div>
          <div class="panel-body">
            <%= f.input :customer, as: :autocomplete, label: false, url: customers_path, input_html: {
              autofocus: true, data: { empty_result_label: t('invoices.customer.empty') }
            } %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Receipt.human_attribute_name 'issued_at' %>
            </h3>
          </div>
          <div class="panel-body">
            <%= f.input :issued_at, as: :date_picker, label: false %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Commodity.model_name.human count: 0 %>
          <small><%= add_commodity_link %></small>
        </h3>
      </div>
      <div id="receipt_commodities" class="panel-body">
        <%= f.simple_fields_for :receipt_commodities, receipt_commodities do |rif| %>
          <%= render 'receipt_commodities/receipt_commodity', f: rif %>
        <% end %>

        <%= link_to_add_fields t('receipts.new.commodity'), f, :receipt_commodities %>

        <div class="row">
          <div class="col-md-1 col-md-offset-9">
            <strong><%= Receipt.human_attribute_name 'total' %></strong>
          </div>
          <div class="col-md-2">
            <span data-chargeable-total>
              <%= '%.2f' % @receipt.total %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% if @receipt.new_record? %>
      <div class="checkbox">
        <label>
          <%= check_box_tag :ask_for_feedback, 1, params[:ask_for_feedback] %>
          <strong><%= t '.ask_for_feedback' %></strong>
          <span class="text-muted" data-distance-time-to-last-receipt></span>
        </label>
      </div>
    <% end %>
  </div>

  <%= f.input :lock_version, as: :hidden %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
