<header>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">
        <a data-toggle="collapse" href="#header-body">
          <%= t 'receipts.header' %>
        </a>
        <span class="text-muted">/ <%= @book %></span>
      </h3>
    </div>
    <div id="header-body" class="collapse <%= 'in' if action_name == 'show' %>">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <%= render @book.organization_entity %>
          </div>
          <div class="col-md-2">
            <h4 class="text-center well well-sm"><%= @book %></h4>
          </div>
          <div class="col-md-5 text-right">
            <p>
              <%= Receipt.human_attribute_name 'number' %>
              <span class="label label-default">
                <%= '%012d' % receipt_number %>
              </span>
            </p>

            <p class="small">
              <%= Receipt.human_attribute_name 'created_at' %>: <%= l receipt_date %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
