<% if @receipts.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <% if @customer %>
      <caption>
        <h4><%= t ".caption_html", customer: link_to(@customer, @customer) %></h4>
      </caption>
    <% end %>
    <thead>
      <tr>
        <th><%= Receipt.human_attribute_name 'number' %></th>
        <th class="visible-lg"><%= Receipt.human_attribute_name 'issued_at' %></th>
        <th><%= Receipt.human_attribute_name 'customer' %></th>
        <th colspan="3">
          <%= new_receipt_link class: 'btn btn-default btn-xs pull-right' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @receipts.each do |receipt| %>
        <tr>
          <td><%= receipt.number %></td>
          <td class="visible-lg"><%= l receipt.issued_at %></td>
          <td><%= receipt.customer %></td>
          <td><%= link_to_show [receipt, customer_id: params[:customer_id]] %></td>
          <td><%= link_to_edit [:edit, receipt] %></td>
          <td><%= link_to_destroy receipt %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @receipts %>
<% end %>

<%= new_receipt_link class: 'btn btn-primary' %>
