<h2><%= @receipt %></h2>

<p>
  <strong><%= Receipt.human_attribute_name 'customer' %></strong>:
  <%= @receipt.customer %>
</p>

<%= link_to_edit edit_receipt_path(@receipt) %> |
<%= link_to_index book_receipts_path(@book) %>
