<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Receipt.human_attribute_name 'customer' %></h3>
      </div>
      <div class="panel-body">
        <%= render @receipt.customer_entity %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Organization.model_name.human %></h3>
      </div>
      <div class="panel-body">
        <%= render @book.organization_entity %>
      </div>
    </div>
  </div>
</div>

<% unless @receipt.receipt_items.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Item.model_name.human count: 0 %></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= ReceiptItem.human_attribute_name 'item' %></th>
            <th><%= ReceiptItem.human_attribute_name 'quantity' %></th>
          </tr>
        </thead>
        <tbody>
          <% @receipt.receipt_items.each do |receipt_item| %>
            <tr>
              <td><%= receipt_item.item %></td>
              <td><%= receipt_item.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit edit_receipt_path(@receipt) %> |
<%= link_to_index book_receipts_path(@book) %>
