<%= render 'header' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= Receipt.human_attribute_name 'customer' %></h3>
  </div>
  <div class="panel-body">
    <%= render @receipt.customer_entity %>
  </div>
</div>

<% unless @receipt.receipt_commodities.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Commodity.model_name.human count: 0 %></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= ReceiptCommodity.human_attribute_name 'commodity' %></th>
            <th><%= ReceiptCommodity.human_attribute_name 'quantity' %></th>
          </tr>
        </thead>
        <tbody>
          <% @receipt.receipt_commodities.each do |receipt_commodity| %>
            <tr>
              <td><%= receipt_commodity.commodity %></td>
              <td><%= receipt_commodity.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @receipt] %> |
<%= link_to_index book_receipts_path(@book, customer_id: params[:customer_id]) %>
